.pokemon-image {
    position: absolute;
    margin: auto;
    overflow: auto;

    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.pokemon-overlay {
    cursor: pointer;
    position: absolute;
}